*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:auto;
    max-width: 90%;
    padding: 0 20px;
}
.text-primary{
    color: #f7c08a;
}
.mainparagraph{
    font-size: 22px;
}
.mainfooter{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}
.button{
    display: inline-block;
    font-size: 18px;
    color: #333;
    background: white;
    padding: 10px 18px;
    border: solid white 1px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 10px 18px;
    border: solid white 1px;
    border-radius: 6px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}
.btn:hover{
    /* background: #333; */
    color: #f7c08a;
    /* border: solid white 1px; */
    border-radius: 6px;
}
/* Main Styling */
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}
h1, h2, h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
#navbar{
    background: rgb(41, 40, 40);
    color: #fff;
    overflow: auto;
    padding-bottom: 15px;
    
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    /* position: fixed; */
}
#aboutpage #navbar h1{
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}
#navbar h1 a:hover{
    color: #f7c08a;
}
#navbar ul{
    list-style: none;
    /* position: fixed; */
    left: 60%;
    float: right;
    
}
#navbar li{
    float: left;
}
#navbar li a{
    display: block;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 20px;
    text-align: center;
}
#navbar li a:hover, 
#navbar li a.current{
    /* new background */
    /* background: #444; */
    border: solid white 1px;
    color: #f7c08a;
}

/* Main Page */
#mainpage{
    background: url(../img/background3.jpg) no-repeat
    center;
    height: 680px;
}
#mainpage .mainpage-content{
    color: #fff;
    text-align: center;
    padding-top: 150px;
}
#mainpage h1{
    font-size: 60px;
    line-height: 1.2em;

}
#mainpage p{
    padding-bottom: 20px;
    line-height: 1.5em;
}

/*About Page CSS*/
#aboutpage{
    background: url(../img/background2.jpg) no-repeat
    center;
}
#aboutpage .aboutpage-content{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
#aboutpage #navbar h1{
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    position: fixed;
}
#aboutpage h3{
    font-size: 50px;
    line-height: 1.2em;
    color: #fff;

}
#aboutpage p{
    padding-bottom: 20px;
    line-height: 1.5em;
    color:#fff;
}
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #1e0b0d;
  }
  .profileimg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

/* Contacts PAGE */
/* #contactpage{
    background: black no-repeat
    center;
}
#contactpage .contactpage-content{
    color: #fff;
    text-align: center;
    padding-top: 100px;
} */
#contactform .form-group{
    margin-bottom: 20px;
}
#contactform label{
    display: block;
    margin-bottom: 5px;
}
#contactform h1{
    margin-bottom: 0px;
    line-height: 1.5em;
    font-size: 37px;
}
#contactform p{
    margin-bottom: 30px;
    line-height: 0em;
}
#contactform input, #contactform textarea{
    width: 70%;
    padding: 10px;
    border: 1px #ddd solid;
}
#contactform textarea{
    height: 200px;
}
